@font-face { font-family: SimpsonFont; src: url('Simpsonfont.ttf'); } 

html {
    background: url("https://i.pinimg.com/564x/20/b9/1c/20b91cffa1845f2845010b9afbd57842.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.startBtn:hover {
    border: 2px red solid;
    height: 30px;
}

.numBtn:hover {
    border: 5px green outset;
    border-radius: 5px;
    box-shadow: 4px 4px green;
    transition-duration: 0.5s;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: blue;
    font-family: "Knewave", cursive;
    padding: 10px;
    border-bottom: 8px yellow dotted;
}

.timer {
    font-size: 30px;
    color: red;
    font-family: "Arbutus", cursive;
    border: 2px red solid;
    display: inline-block;
    margin: 10px;
}

.reset:hover {
    box-shadow: 4px red; 
}

.reset {
    font-size: 30px;
    color: red;
    font-family: "Arbutus", cursive;
    border: 4px red solid;
    display: inline-block;
    background-color: rgb(0 0 0 0);
    padding: 3px;
    margin: 0px 0px 10px 20px;
}

.questions {
    font-size: 35px;
    width: 60%;
    font-family: "Chela One", cursive;
    padding: 5px;
    margin-left: 20px;
}

.numBtn {
    font-size: 30px;
    display: inline-block;
    padding: 5px;
    font-family: "Chela One", cursive;
    color: green;
    background-color: white;
    border: 1px black round;
    border-radius: 5px;
    margin-left: 20px;
}

img {
   height: 350px;
   width: 350px;
   margin-left: 20px;
   border: 10px blue double;
   padding: 0px;
   
}

p {
    font-size: 35px; 
    font-family: "Chela One", cursive;
    padding: 5px;
    margin-left: 20px
}

h3 {
    font-size: 35px;
    font-family: "Chela One", cursive;
    padding: 5px;
    margin-left: 20px;
}
